.about-box {
    animation: fadeIn 1s;
    padding-left: 20px;
    padding-top: 20px;
    overflow-y: auto;
    height: 90%;
    h1 {
        font-size: 80px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        letter-spacing: 5px;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: all 1s linear;
        animation: none;
        svg {
            padding-left: 10px;
            padding-right: 10px;
            color: rgba(112, 12, 116, 0.726);
        }
    }
    h2 {
        white-space: nowrap;
        border-right: 4px solid rgba(112, 12, 116, 0.726);
        width: 465px;
        animation: typing 3s steps(24),
        blink .5s infinite step-end alternate;
        overflow: hidden;
        font-size: 25px;
        text-transform: uppercase;
        font-family: 'Gruppo', cursive;
        letter-spacing: 4px;
        animation-delay: 5s;
        opacity: 0;
        padding-left: 80px;
    } 
    .img-text {
        display: flex;
        align-items: center;
        img {
            width: 500px;
            height: 300px;
            padding-left: 40px;
            padding-top: 50px;
            animation: none;
            opacity: 0;
        }
        p {
            font-size: 16px;
            opacity: 0;
            animation: none;
            width: 300px;
        }
    }
    .hello {
        position: absolute;
        top: 0;
        color: rgba(255, 255, 255, 0.02);
        font-size: 200px;
        padding-left: 50px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        letter-spacing: 30px;
        text-align: justify;
        width: 500px;
    }
    .comment {
        color: green;
        padding-top: 50px;
        padding-left: 40px;
        line-height: 30px;
        opacity: 0;
        transition: all 1s linear;
        svg, span {
            padding: 0 5px;
            color: white;
        }
    }
}

@media only screen and (max-width: 600px) {
    .about-box {
        padding-left: 4px;
        padding-top: 10px;
        h1 {
            font-size: 25px;
            letter-spacing: 2px;
            svg {
                padding-left: 4px;
                padding-right: 4px;
                width: 20px;
                height: 20px;
            }
        }
        h2 {
            border-right: 2px solid rgba(112, 12, 116, 0.726);
            width: 220px;
            font-size: 12px;
            letter-spacing: 1px;
            padding-left: 25px;
        } 
        .img-text {
            flex-direction: column;
            width: 220px;
            img {
                width: 250px;
                height: 180px;
                padding-left: 10px;
                padding-top: 40px;
            }
            p {
                font-size: 12px;
                padding-left: 30px;
                padding-top: 20px;
                width: 220px;
            }
        }
        .hello {
            display: none;
        }
        .comment {
            padding-top: 100px;
            padding-left: 5px;
            line-height: 15px;
            font-size: 10px;
            width: 220px;
            svg, span {
                padding: 0 2px;
                width: 8px;
                height: 8px;
                font-size: 8px;
            }
        }
    }
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; }
}