.container-box {
    position: absolute;
    left: 45px;
    top: 35px;
    width: 100%;
    height: 100%;
    transition: all 0.95s linear;
}

@media only screen and (max-width: 600px) {
    .container-box {
        left: 25px;
        top: 22px;
    }
}