.console-box {
    position: absolute;
    left: 295px;
    bottom: 0;
    width: 100%;
    height: 100px;
    transition: all 0.95s linear;
    background-color: rgb(24, 23, 23);
    border-top: 1px solid rgb(94, 94, 94);
    padding: 10px 0 0 15px;
    display: flex;
    flex-direction: column;
    animation: fadeInUp 1s;
    gap: 20px;
    .title-console {
        border-bottom: 1px solid white;
        height: 20px;
        width: 70px;
        p {
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1px;
            color: rgb(94, 94, 94);
        }   
    }
    .route-input {
        font-size: 14px;
        color: rgb(216, 216, 216);
        display: flex;
        gap: 5px;
        input {
            background-color: inherit;
            border: none;
            color: rgb(231, 218, 25);
            border-bottom: 1px solid white;
        }
        input:focus {
            border: none;
            outline: none;
        }
        .submit {
            opacity: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .console-box {
        left: 105px;
        height: 45px;
        padding: 5px 0 0 10px;
        gap: 10px;
        .title-console {
            width: 50px;
            height: 12px;
            p {
                font-size: 8px;
            }   
        }
        .route-input {
            font-size: 8px;
            gap: 2px;
            input {
                height: 8px;
                width: 50px;
                font-size: 8px;
            }
        }
    }
}