.modalCharts-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoomInUp 1s;
    .modalCharts-box {
        width: 50%;
        height: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: end;
        border-radius: 10px;
        border-top-left-radius: 10px;
        #chart {
            margin: 20px;
        }
        .modal-title {
            background-color: rgb(68, 68, 68);
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 10px;
            button {
                background-color: transparent;
                color: white;
                height: 35px;
                width: 40px;
                transition: all 0.2s linear 0.1s;
                border: none;
            }
            button:hover {
                cursor: pointer;
                background-color: red;
            }
            p {
                padding-left: 20px;
            }
        }
    }
}