.modalContact-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoomInUp 1s;
    .modalContact-box {
        width: auto;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        .modal-title {
            background-color: rgb(68, 68, 68);
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 10px;
            button {
                background-color: transparent;
                color: white;
                height: 35px;
                width: 40px;
                transition: all 0.2s linear 0.1s;
                border: none;
            }
            button:hover {
                cursor: pointer;
                background-color: red;
            }
            p {
                padding-left: 20px;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $black-color;
            gap: 20px;
            padding: 50px;
            input, textarea{
                border: none;
                width: 300px;
                font-size: 15px;
                padding-left: 10px;
                border: 2px solid rgb(197, 197, 197);
                transition: 200ms linear 25ms;
                color: $black-color;
                border-radius: 10px;
                height: 30px;
                background-color: rgb(255, 255, 255);
            }
            input:focus, textarea:focus {
                outline: none;
            }
            input:hover, textarea:focus {
                box-shadow: 0.5px 0.5px 5px 0.5px rgba(112, 12, 116, 0.726);
            }
            ::placeholder {
                color: rgba(0, 0, 0, 0.308);
            }
            textarea {
                height: 100px;
            }
            #submit {
                margin-top: 10px;
                height: 40px;
                width: 250px;
                background-color: rgba(112, 12, 116, 0.726);
                color: white;
                transition: all 0.2s linear 0.2s;
                border-radius: 10px;
                border: none;
            }
            #submit:hover {
                cursor: pointer;
                background-color: rgba(73, 9, 75, 0.726);
            }
            .message-form {
                background-color: rgb(41, 41, 41);
                width: 350px;
                height: 100px;
                position: absolute;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                animation: zoomIn 1s;
                .message {
                    color: white;
                    text-align: center;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    svg {
                        color: rgb(4, 212, 4);
                    }
                }
            }
        }
        .contact-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            gap: 50px;
            a {
                color: $black-color;
                transition: all 0.2s linear 0.2s;
            }
            a:hover {
                color: rgba(73, 9, 75, 0.726);
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 600px)  {
    .modalContact-container {
        .modalContact-box {
            .modal-title {
                font-size: 12px;
                button {
                    height: 25px;
                    width: 30px;
                    padding: 2px;
                }
            }
            form {
                gap: 10px;
                padding: 20px;
                input, textarea{
                    font-size: 12px;
                    padding-left: 10px;
                    border: 1.5px solid rgb(197, 197, 197);
                    height: 25px;
                }
                textarea {
                    height: 80px;
                }
                .message-form {
                    width: 300px;
                    height: 80px;
                    .message {
                        font-size: 15px;
                        gap: 10px;
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
            .contact-buttons {
                gap: 40px;
            }
        }
    }
}